[TRANSMISSION]
TR_HOST =
TR_PORT =
TR_USERNAME =
TR_PASSWORD =
TR_DOWNLOAD_DIR =

[ARIA2]
AR_HOST =
AR_PORT =
AR_SECRET =

[MINIO]
MINIO_HOST =
MINIO_ACCESS_KEY =
MINIO_SECRET_KEY =
MINIO_BUCKET =
MINIO_SECURE =

[API]
API_HOST =
API_ENV =